body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    color: #ffffff;
}
h1 {
    font-weight: 300;
    font-size: 40px;
    margin: 0;
}
h2 {
    font-weight: 300;
    font-size: 17px;
    margin: 0;
    margin-top: 16px;
    max-width: 600px;
    line-height: 24px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
nav {
    position: absolute;
    bottom: 60px;
    width: 100%;
}
ul {
    margin: 0;
}
.container {
    margin: 20px;
}
#viewer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(img/gradient.png) center no-repeat;
    background-size: cover;
}
#logo {
    width: 100px;
    height: 100px;
}
.logo-image {
    width: 60px;
    height: 60px;
    display: block;
    background: url(img/logo.png) center no-repeat;
    background-size: cover;
}
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#intro {
    margin: 40px;
    position: absolute;
    top: 45%;
}
.link {
    padding-bottom: 4px;
    border-bottom: 1px solid #ffffff;
}
.el {
    float: left;
    list-style: disc;
    margin-right: 26px;
    text-align: center;
}
.el a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 300;
}
.first-el {
    list-style: none;
    margin-right: 32px;
}
@media only screen and (max-width: 500px) {
    nav {
        position: relative;
        top: 15px;
        left: 60px;
    }
    .el {
        float: none;
        padding-bottom: 5px;
        text-align: left;
        display: block;
    }
}