/* HTML tags */

body {
  margin: 0px auto;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  margin-top: 60px;
}

section {
  position: relative;
}

p {
  line-height: 26px;
  font-size: 15px;
  letter-spacing: 0.4px;
}

ul {
  line-height: 26px;
  font-size: 15px;
  letter-spacing: 0.4px;
  margin: 0px;
  margin-left: 18px;
  padding: 0px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2.0px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a.link {
  padding-bottom: 4px;
  border-bottom: 2px solid;
  color: orange;
  letter-spacing: 0.4px;
  font-weight: 400;
}

/* Site Navigation */

.logo {
  display: inline-block;
  transition: 0.2s all;
  margin: 0px;
  width: 20%;
}

.logo-img {
  width: 100%;
}

.navigation {
  width: 100%;
  height: 60px;
  margin: 0px;
  padding: 0px;
  display: table;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  background: rgb(255, 255, 255);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s all;
}

.navigation div {
  display: table-cell;
  vertical-align: middle;
}

.navigation div:first-of-type {
  width: 65%;
  padding-left:12px;
}

.navigation ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list--site-navigation {
  width: 100%;
  display: table;
  text-align: center;
}

.list--site-navigation li {
  display: table-cell;
  transition: 0.2s all;
  padding-left: 10px;
  padding-right: 10px;
}

.list--site-navigation li:hover {
  background: rgba(0, 0, 0, 0.04);
}

.list--site-navigation li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  text-decoration: none;
  color: rgba(0,0,0,0.6);
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  transition: 0.2s all;
}

.list--site-navigation li a:hover {
  color: rgba(0,0,0,0.8);
}

.responsive-nav {
  display: none;
}

#menu-button {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 20px 0px;
  text-decoration: none;
  color: rgba(0,0,0,0.6);
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  float: right;
  padding-right: 15px;
  cursor: pointer;
}

#close-menu-button {
  display: none;
}

@media screen and (max-width:600px) {

  .responsive-nav {
    display: block;
    width: 100%;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid #dddddd;
  }

  #close-menu-button {
    display: block;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    font-weight: 300;
    cursor: pointer;
  }

  .responsive-nav .logo {
    height: auto;
    width: auto;
    padding: 12px 0px;
  }

  .navigation {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.98);
    z-index: 9999;
  }

  .navigation.closed {
    top: -100%;
  }

  .navigation.open {
    top: 0%;
  }

  .list--site-navigation li {
    display: block;
  }

}

/* Site Content */

.content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.width-100 {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.width-75 {
  width: 75%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.width-50 {
  width: 50%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.width-25 {
  width: 25%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.width-20 {
  width: 20%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.max-width {
  width: inherit;
  max-width: 840px;
  margin: 0 auto;
}

@media screen and (max-width:700px) {
  .width-50 {
    width: 100% !important;
  }
  .width-25 {
    width: 100% !important;
  }
  .width-20 {
    width: auto !important;
  }
}

/* Header Image and Slogan */

.header-image {
  position: relative;
  height: 620px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.header-image-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,255,0.4);
}

.header-image .container {
  width: 100%;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.header-image h1 {
  display: block;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 40px;
  font-size:38px;
  letter-spacing: 2.0px;
  font-weight: 600;
  color: rgba(255,255,255,0.8);
  padding: 20px;
  cursor: default;
}

.button {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size:9px;
  letter-spacing: 2.0px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 165, 0, 1);
  border-radius: 30px;
  opacity: 0.9;
  padding: 14px 18px;
  text-transform: uppercase;
}

.learn-more {
  margin-top: 20px;
}

@media screen and (max-width:600px) {
  .header-image {
    height: 360px;
  }
  .header-image .container {
    max-width: 240px;
    padding-top: 150px;
    line-height: 1.6;
    opacity: 0.95;
  }
  .header-image h1 {
    font-size: 10px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
  }
  .button--start-yours {
    margin-top: 90px;
    font-size: 10px;
  }
}

/* Text */

.introduction {
  margin: 0px auto !important;
  padding: 0px 40px !important;
  padding-top: 50px !important;
  padding-bottom: 100px !important;
}

.text-container {
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.text-container h1 {
  padding-top: 30px;
  margin-bottom: 20px;
}

.center-justify-text {
  text-align: center;
}

.left-justify-text {
  text-align: left;
}

.right-justify-text {
  text-align: left;
}

/* Image */
.full-width-image {
  width: 100%;
  max-width: 100%;
}

/* Bullets */

.bullet-container {
  width: 100%;
  display: table;
  padding: 0px;
  cursor: default;
  margin: auto;
  color: rgba(0,0,0,0.7);
  border-top: 1px solid rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.bullet-container span,
.bullet-container div {
  text-align: left;
  display: table-cell;
  padding: 30px 30px;
  color: orange;
  margin: 4px;
  width: 25%;
  position: relative;
  border-right: 1px solid rgba(0,0,0,0.05);
}


.bullet-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.bullet-container h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin: 0px;
  margin-top: 1px;
  color: rgba(255,165,0,0.6);
  font-weight: 400;
}

.bullet-container p {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 0;
  margin-top: 6px;
  line-height: normal;
  font-style: italic;
}

.bullet-container img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  right: 30px;
  z-index: -9;
}

@media screen and (max-width:800px) {

  .bullet-container img {
    display: none;
  }

}

/* Dual Pane View */

.dual-pane-container{
  width: 100%;
  display: table;
}

.dual-pane-container div {
  display: table-cell;
  vertical-align: text-top;
}

.text-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 1.0px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.dual-pane-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 1.0px;
  text-transform: uppercase;
  margin-top: 30px;
}

.dual-pane-container .dual-pane-image {
  display: block;
  height: 440px;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

@media screen and (max-width:700px) {
  .dual-pane-container div {
    display: block;
  }
  .dual-pane-container .dual-pane-image {
      height: 300px;
  }
}

/* Gallery */

.gallery-container {
  display: block !important;
  width: 95%;
  height: auto;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
}

.gallery-container .image {
  display: block !important;
  width: 90%;
  height: 280px;
  margin-top: 5%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  text-align: center;
  overflow: hidden;
}

.gallery-container .hidden {
  display: none !important;
}

.gallery-container .controls {
  display: table;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.96);
  font-size: 50px;
  font-weight: 300;
}

.gallery-container .controls .right {
  display: table-cell;
  vertical-align: bottom;
  height: 100%;
  cursor: pointer;
  z-index: 99;
  text-align: right;
}

.gallery-container .controls .left {
  display: table-cell;
  vertical-align: bottom;
  height: 100%;
  cursor: pointer;
  z-index: 99;
  text-align: left;
  padding-left: 56px;
}

.gallery-container .controls .count {
  letter-spacing: 2px;
  display: block;
  height: 100%;
  color: rgba(255, 255, 255, 1);
  padding-right: 15px;
  padding-top: 10px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px !important;
}

.gallery-container .gallery-title {
  font-size: 10px;
  position: relative;
  top: -38px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.98);
  letter-spacing: 2px;
  font-weight: 400;
}

.gallery-container .no-selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

@media screen and (max-width:700px) {
  .float-left {
    float: none;
    margin: 0 auto;
  }
  .float-right {
    float: none;
    margin: 0 auto;
  }
  .gallery-container .image {
    width: 100%;
  }
}

/* Meet the team */

.image-grid-container {
  display: table;
  width: 90%;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.image-grid-container div {
  display: table-cell;
  width: 25%;
  overflow: hidden;
}

.image-grid-container .image {
  display: block;
  height: 200px;
  width: auto;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: 0.2s all;
  margin-left: 16px;
  margin-right: 16px;
}

.image-grid-container span {
  display: block;
  position: relative;
  background: rgba(255, 255, 255, 1);
  transition: 0.2s all;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: default;
  margin-left: 16px;
}

.image-grid-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0;
}

.image-grid-container figcaption {
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:600px) {
  .image-grid-container .image {
    height: 120px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .image-grid-container span {
    margin-left: 5px;
  }

  .image-grid-container h3 {
    font-size: 12px;
  }
}

/* Contact Section */

.contact-text {
  border-top: 1px solid rgba(0,0,0,0.05);
  padding-top: 20px;
}

/* Site Footer */

.site-footer {
  margin-top: 80px;
  background: rgba(255,165,0,0.8);
  color: rgba(255, 255, 255, 1);
}

.site-footer .bullet-container {
  padding-top: 40px;
  padding-bottom: 0px;
  border: 0px;
}

.site-footer .bullet-container span {
  padding-left: 25px;
  padding-right: 25px;
}

.site-footer span {
  border: none;
  text-align: center;
}

.site-footer a {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}

.site-footer .text-container {
  padding-top: 40px;
  margin-top: 0px;
  text-align: center;
}

.footer-text {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

.footer-text a {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width:700px) {
  .site-footer span {
    width: auto !important;
  }
}
