/*
Landing Page of Relife
Designed by Taylor Rees
Version: 0.1
Year: 2014
*/

img { border:0; }
html, body, section { padding:0; margin:0; width:100%; font-family: 'Montserrat', sans-serif; }
p { font-family: "proxima-nova",sans-serif; font-weight:400; line-height:30px }
li { display: inline; padding:30px; }
h2 {margin:0; margin-bottom:25px;}
ul {position: relative;}
img{height: 100%; margin: 0 auto;}
.wrapper { width:100%; }
.pad{ padding-left:8%; }

body {
    background: #fff;
    color:#191919;
    font-family: "proxima-nova",sans-serif;
    font-size: 18px;
    font-weight:500;
    line-height:26px;
}

h1 { 
    margin:0px; 
    line-height:1.1;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
}

a, a:visited { 
    text-decoration:none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

a:focus { outline:none; }

ul { 
    display:inline; 
    font-family: "Montserrat",sans-serif; 
    text-transform:uppercase;
    font-weight:400; 
    line-height:30px;
}

.btn {
    color:#fff;   
    font-weight:400;
    text-align:center;
    padding:6px 25px;
    border: 3px solid;
    margin:10px;
}

.lrge-btn {
    color:#191919;
    font-weight:600;
    font-size:45px;
    margin:0;
    padding: 20px 50px;;
    border: 9px solid;
    font-family: 'Montserrat', sans-serif;
}

/* Grid */

.grid { 
    width:80%;
    max-width:900px;
    margin:auto;
    padding-top:50px;
}

.grid-el-center {
    text-align:center;
    margin:auto;
    padding-top: 25%;
}

.grid-el-text {
    margin:0;
    padding-top:10%;
    padding-bottom:10%;
    text-align:center;
    color:#303336;
}

.grid-row {
    width:300px;
    margin-bottom:60px;
    color:#303336;
    vertical-align:top;
}

.underline-w {
    margin:auto;
    border-bottom:2px solid;
    color:#fff;
    width:60px;
    height:10px;
}

.underline-b {
    margin:auto;
    padding-top:12px;
    border-bottom:2px solid;
    color:#e6e6e6;
    width:60px;
    height:10px;
}

/* Fullscreen Hero Section */

.viewpt-img {
    position:relative;
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
}

.details-title {
    font-size:32px;
    padding-top: 30vh;
    margin-bottom:0px;
    text-align:center;
    font-weight:400;
    color:#fff; 
}

.details-p { color:#fff; margin-top:10px; }
.btn-div { margin-top:44px; }

.holder{
    position: fixed;
    bottom: 0;
    height: 120px;
    text-align: center;
    width: 100%;
}

.btn-50{
    width: 50%;
    height: 70px;
    padding-top: 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}

.btn-50 a:visited{color: #fff;}

.tweet{ 
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #00acee;
    }

.g-plus{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #dd4b39;
    }
